# Ignore node_modules directory
node_modules/

# Ignore .env file
.env

# Ignore .DS_Store files on macOS
.DS_Store

# Ignore Thumbs.db files on Windows
Thumbs.db

# Ignore .vscode directory
.vscode/

# Ignore .idea directory
.idea/

# Ignore .cache directory
.cache/

# Ignore .log files
*.log